.content__category {
  font-size: var(--size-5);
  color: var(--color-secondary-500);
  text-transform: uppercase;
  }

.content__title {
  font-size: var(--size-8);
  margin: 0;
  margin-bottom: var(--size-3);
}

.content__avatar {
  color: var(--color-secondary-500);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: var(--size-3);
}

.content__autor {
  margin-right: var(--size-6);
}

.content__excerpt {
  line-height: 24px;
}
