.content {
  width: 95%;
  max-width: 70rem;
  border-radius: 6px;
  padding: var(--size-4);
  font-size: var(--size-5);
  line-height: var(--size-8);
  margin: var(--size-8) auto;
  background-color: var(--color-grey-100);
}

/* .content p {
  color: var(--color-grey-800);
} */

.image_container {
  max-width: 90%;
  margin: var(--size-10) auto;
  box-shadow: rgb(0 0 0 / 12%) 0px 8px 30px;
}

.image_container > div {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  height: unset !important;
  position: relative !important;
}

.inline_code {
  display: inline;
  white-space: pre-wrap;
  color: rgb(212, 0, 255);
}

.inline_code::before {
  content: "\`";
}
.inline_code::after {
  content: "\`";
}

.link {
  color: #0074de;
  transition: color 0.2s ease;
}

@media (min-width: 768px) {
  .content {
    padding: var(--size-8);
  }
}
