.editor {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  max-width: 858px;
  margin: auto;
}

.editor__title {
  font-family: "Open Sans", sans-serif;
  font-size: var(--size-10);
  color: var(--color-secondary);
  padding: var(--size-4) 0;
  border-bottom: 5px solid #1c1c1c;
  margin-bottom: var(--size-12);
}
