.content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 242px);
}

.search {
  width: 700px;
  margin-bottom: var(--size-16);
}

.search > input {
  line-height: 35px;
  border-radius: var(--size-10);
}

.search > div[data-role="icon"] {
  top: var(--size-4);
  position: absolute;
  right: var(--size-4);
}

.tags_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--size-10);
}

.tag {
  margin-right: var(--size-4);
  margin-bottom: var(--size-6);
  border-radius: var(--size-10);
}

.articles {
  margin: 0 var(--size-30);
  flex: 81;
}

.small > div[data-role="image"] {
  flex: 33;
}

.small > div[data-role="description"] {
  flex: 67;
  margin-left: var(--size-8);
}
