.wrapper {
  display: flex;
  max-width: 1366px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: var(--size-6);
  margin: 0 auto;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
