.button {
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  font-size: var(--size-5);
  box-sizing: border-box;
  border-radius: 10px;
  line-height: 25px;
  font-family: "Libre Baskerville", serif;
  padding: var(--size-3) var(--size-8);
  font-weight: 400;
}
