.textField {
  position: relative;
}

.textField > input {
  font-size: var(--size-5);
  color: var(--color-black);
  border: 2px solid var(--color-secondary);
  box-sizing: border-box;
  border-radius: 10px;
  line-height: 25px;
  font-family: "Libre Baskerville", serif;
  padding: var(--size-3) var(--size-8);
  font-weight: 400;
  text-decoration: none;
  width: 100%;
  display: block;
}

.textField > div[data-role="icon"] {
  position: absolute;
  right: var(--size-3);
  top: var(--size-3);
}
