.article {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--size-14);
}

.image {
  margin-right: var(--size-14);
  flex: 31;
}

.image img {
  object-fit: cover;
}

.description {
  flex: 69;
}
