.wrapper {
  width: 100%;
  min-height: 592px;
  background-size: cover;
  background: linear-gradient(
      0deg,
      rgba(28, 28, 28, 0.1),
      rgba(28, 28, 28, 0.1)
    ),
    url(/assets/images/hero.jpeg) center no-repeat;
}

.content {
  cursor: pointer;
  max-width: 509px;
  margin-left: var(--size-12);
  background-color: var(--color-primary);
  padding: var(--size-12) var(--size-10) var(--size-16);
}
