.article {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--size-14);
  max-height: 311px;
}

.image {
  margin-right: var(--size-14);
  flex: 46;
}

.image img {
  object-fit: cover;
}

.description {
  flex: 54;
}
