.header {
  width: 100%;
  display: flex;
  align-items: center;
  height: var(--size-16);
  justify-content: space-between;
  margin-bottom: var(--size-12);
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__right {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.header__search {
  min-width: 360px;
  margin-right: var(--size-2);
}

.header__search > input {
  border: 2px solid var(--color-primary);
}
.border > input,
.header__search > input:hover,
.header__search > input:active {
  border: 2px solid var(--color-secondary);
  transition: border 0.3s ease-in-out;
}

.header__icon {
  cursor: pointer;
}
